@import "tailwindcss";


/* Home Section */












/* Projects */

.projects {
    padding: 2rem;
    background-color: #f9f9f9;
    text-align: left;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    width: 80%;
    margin: 2em auto;
}




/*    Problem Solving  */


/* src/index.css */

/* Problem Solving Section */
